@font-face{
	font-family:hanyi;
	src:url("../font/汉仪雪君体简.ttf");
}

@font-face{
	font-family:huakang;
	src:url("../font/华康少女文字W5(P).ttf");
}

@font-face{
	font-family:jqt;
	src:url("../font/简启体.TTF");
}

@font-face{
	font-family:jianzhi;
	src:url("../font/迷你简剪纸体.TTF");
   }

.head-pic{
	background:black url("../images/title.jpg") no-repeat bottom;
	background-size:cover;
	border-bottom:0;
}   
.title {
	font-family:jqt;
	width:700px ;
	margin:120px 0px !important;
	font-size:50px !important;
	font-color:#404040;
}
.title span{
	margin-left:1%;
	line-height:200%;
	color:#228fbd;
}
	
#info p{
	font: normal bold 24px huakang;
	line-height:0.5em !important;
	text-align:center;
	padding-top:60px;
}
#internal{
	border: none;
	background-color:transparent;
	margin-left:30%;
}
#internal table{
	width:900px;	
}
#internal table td{
	width:300px;
	padding:5px 10% 5px 0px;

}
#internal table td a{
	text-decoration:none !important;
	color:#48a7c2;
	font-size:17px;;
	font-weight:normal;
}
#internal table td a:hover{
	color:#2a5caa !important;
	
}
#internal table caption{
	padding:10px 25% 20px 0px;
	font-size:20px;
	color:#4C556E;
}
.title_nav a,#internal table ,h2,p{
	text-shadow:none !important;
}
hr{
	color:#e03636;
	opacity:50;
}
p {
	margin:5px 0px 5px 5px;
	line-height:150%;
	color:#4C556E;
	font-size:16px;
	font-weight:bold;
}
h2{
	margin:0px 0px 30px 0px;
}
hr{
	color:#48a7c2;
}
.allcontent{
	padding-bottom:5px;
	background-color:#F2EFE6;
}
.title_nav,.title_nav a{
   margin:0 !important;
   border:0 !important;	
   box-shadow:none !important;
}
.title_nav a{
	width:150px;
	padding:20px !important;
	font-size:18px !important;
}
/*
.title_nav a:hover{
	background-color:rgba(173,160,165,0.5);
}*/
nav a{
	width:100px;
}

.chicken{
	margin-right:5%;
}
/*添加css*/
#s_pic,#right,#left{
	float:left;
	padding:0;
}
#s_pic{
	margin:10px;
}
#big_photo{
	float:left;
	width:657px;
	height:420px;
	margin:0px 50px 0px 30px;
	background-color:white;
}

#pic-nav ul li{
	display:inline;
}
#s_ar{
	margin:0px 55px 0px 10px;
}

/*******************/
.mylist h3,#mylist li div p{
	display:inline;
}
.mylist{
	margin:0px 30px 20px 15px;
	width:250px;
	height:260px;
	float:left;
	background-color:white;
}
.mylist p{
	position:relative;
	top:25px;
	right:10px;
	float:right;
	margin:0;
	font-size:14px;
	font-weight:normal;
}
.mylist h3{
	position:relative;
	top:5px;
	left:10px;
	font-size:18px;
	font-weight:normal;
}
.title_nav{
	background-color:rgba(217,214,207,0.3);
	padding-left:5px;
}
.active {
	color:#228fbd !important;
	background-color:rgba(173,160,165,0.2) !important;
	border-radius:0 !important;
}
.no_active{
	background-color:transparent !important;
}
#story{
	text-align:center;
	font-family:jqt;

}	
#story h2{
	font-size:30px;
	margin:10px;
}
#story p{
	font-size:24px;
}
.pic_act{
	color:#495A80 !important;
	font-weight:bold !important;
	font-size:20px !important;
	font-family:jianzhi
}
.hidd{
	visibility:hidden;	
}
.visi{
	visibility:visible;
}